#footer-container {
  background-color: black;
  height: 228px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #303030;
}
#pine-tour {
  color: white;
  margin-left: 110px;
}

#other-websites {
  display: flex;
  margin-left: 1050px;
  gap: 20px;
  height: 44px;
  width: 381px;
}
